services:
  app:
    image: satindar31/clearstatus:latest
    container_name: clearstatus
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: clearstatus_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: clearstatusapp
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: